3.Test/MainTest/Service References/TestService/TestService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49893/TestService.svc?xsd=xsd2" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="paoTrans" nillable="true" type="PaoTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>